*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.container{
  max-width:1200px;
  margin:0 auto;
  padding:0 15px;
}
/* .navbar{
  font-family: "Momo Trust Display", sans-serif; 
  
}
.navbar-brand{
  color:#3d1d06;
  font-size:20px;
  margin-left:70px;
}
.nav-link{
  color:#3d1d06;
  border-radius:50px;
}
.nav-link:hover{
  background-color:#3d1d06;
  color:white;
  border-radius:50px;
  cursor:pointer;
  box-shadow:0 0 20px #3d1d06;
} */
.contactBtn{
  background-color:#3d1d06;
  color:white;
  
}
.main{
  background: linear-gradient(
  90deg,
  #f5ebff 0%,
  #eef7f7 50%,
  #d9f5f5 100%
);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  min-height:100vh;
  display:flex;
  color:rgb(6, 1, 1);
}
.name{
  font-size:60px;
}
.main-icons a{
  display:inline-flex;
  height:43px;
  width:43px;
  border:2px solid white;
  border-radius:50%;
  justify-content:center;
  align-items:center;
  background:transparent;
  font-size:30px; 
  margin-right:5px;  
  background:white;
  box-shadow:0 0 20px white;
}
.main-icons a i{
  color:rgb(56, 36, 36);
}
.main-icons a:hover{
  background:#3d1d06;
  box-shadow:0 0 20px rgb(31, 30, 30);
  border-color: #3d1d06;
}
.main-icons a i:hover{
  color:white;
}
.btn1{
  display:inline-block;
  background:#3d1d06;
  color:white;
  font-weight:700;
  border:none;
  box-shadow:0 0 20px #3d1d06;
}
.btn1:hover{
  box-shadow:none;
  background:white;
  color:#3d1d06;
  box-shadow:0 0 20px white;
}
.aboutMe{
  min-height:100vh;
  background-color:white;
  display:flex;
  text-align :center;
  align-items:center;
  justify-content:center;
}
.pic{
  width:50%;
}
.pic img{
  border-radius:15px;
}
.me{
  width:50%;
  text-align:left;
}
.myPic{
  height:400px;
  box-shadow:0 10px 20px rgba(0, 0, 0, 0.5);
  transition:0.3s ease;
}
.myPic:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.4);
}
.aboutMe p{
  font-weight:500;
}
.projects{
  min-height:100vh;  
}
